[data-tab-content] {
    display: none;
    padding: 50px 50px 0px 30px;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0cc69;
    font-weight: bold;
    letter-spacing: 1px;
    justify-content: space-around;
    list-style-type: none;
}

.tab {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: #8EA45B solid 3px;
}

.tab.active {
    background-color: #feedb9;
    border-bottom: none;
}

.tab:hover {
    background-color: #f9dd93;
}


